<header class="container-fluid site-header" itemscope itemtype="http://schema.org/Organization">
  <div class="row header-spacer">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
      <div class="">
        <a itemprop="url" title="Return to the Modena Interiors homepage" href="{{ site.baseurl }}/">
          <img class="header-logo" itemprop="logo" src="{{ site.baseurl }}/assets/img/modena-interiors_logo_400x88.png" alt="{{ site.name  }}">
        </a>
      </div>

      <div itemprop="telephone" class="header-contact-number">
        <img class="phone-image" src="{{ site.baseurl }}/assets/img/phone-image_64x64.png" alt="Phone number">{{ site.contact_number  }}
      </div>
    </div>


  </div><!--end row-->
</header>

