<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#modena-main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div><!-- end navbar-header -->
    <div class="collapse navbar-collapse" id="modena-main-nav">
      <ul class="nav navbar-nav nav-tabs col-sm-10 col-xs-12" >
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/">Services</a></li>
        <li><a href="{{ site.baseurl }}/">Portfolio</a></li>
        <li><a href="{{ site.baseurl }}/">Contact Us</a></li>
      </ul>
    </div><!--end modena-main-nav -->
  </div><!-- end container -->
</nav>
