<nav id="modena-main-nav" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="menu-text">MENU</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    </div><!-- end navbar-header -->
    <div class="collapse navbar-collapse main-nav">
      <ul class="nav navbar-nav nav-tabs col-lg-8 col-sm-10 col-xs-12" >
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
        <li><a href="{{ site.baseurl }}/services/walls-and-partitions.html">Services</a></li>
        <li><a href="{{ site.baseurl }}/portfolio/">Portfolio</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact Us</a></li>
      </ul>
    </div><!--end modena-main-nav -->
  </div><!-- end container -->
</nav>
