<nav class="navbar navbar-default" id="modena-services-nav" role="navigation">
    <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
      <ul class="nav"  >
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/walls-and-partitions.html">
            Walls &amp; Partitions
          </a>
        </li> 
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/ceilings-and-bulkheads.html">
            Ceilings &amp; Bulkheads
          </a>
        </li>
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/contract-flooring.html">
            Contract Flooring
          </a>
        </li>
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/painting-and-decorating.html">
            Painting &amp; Decorating
          </a>
        </li>
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/carpentry-and-joinery.html">
            Carpentry &amp; Joinery
          </a>
        </li>
        <li>
          <a class="col-xs-12 col-sm-4 col-lg-2" href="{{ site.baseurl }}/services/hygienic-surfaces.html">
            Hygienic Surfaces
          </a>
        </li>

      </ul>
    </div><!--end modena-main-nav -->
  </div><!-- end container -->
</nav>
