// Utilities

// Spacing
$block-spacer: 10px;

.row-spacer-t2 {
  margin-top: $block-spacer * 2;
}

.row-spacer-b2 {
  margin-bottom: $block-spacer * 2;
}
.row-spacer-2 {
  margin-top: $block-spacer * 2;
  margin-bottom: $block-spacer * 2;
}

.row-spacer-t3 {
  margin-top: $block-spacer * 3;
}

.row-spacer-b3 {
  margin-bottom: $block-spacer * 3;
}
.row-spacer-3 {
  margin-top: $block-spacer * 3;
  margin-bottom: $block-spacer * 3;
}

.block-spacer-25-top {
  margin-top: 25px
}
