// Site wide colour scheme
$brand-primary:     #368c8c;
$white: #ffffff;
$milk-white: #FEFCFF;
$text-color-light:  $milk-white;
$dark-background:   #1c1c1c;
$text-color: $text-color-light;
$headings-color: $brand-primary;

// global text
$line-height-base: 1.6;
$font-family-sans-serif: "Ubuntu", "Helvetica Neue", Helvetica,Arial,sans-serif;

// Links
$link-color: $text-color-light;
$link-hover-color: $brand-primary;
$link-hover-decoration: none;


// Nav bar 
$navbar-default-bg:                 $brand-primary;
$navbar-default-link-color:         $text-color-light;
$navbar-default-link-hover-color:   $text-color-light; 
$navbar-default-link-active-color:  $text-color-light;
$navbar-default-link-active-bg:     $dark-background;
$navbar-default-link-hover-bg:      $dark-background;
$link-border-color:                 $white;

$navbar-border-radius: 0px;
$navbar-margin-bottom: 0px;

$font-size-base:          16px !default;
$font-size-h1:            floor(($font-size-base * 1.6 )) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.4)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.2)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.10)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
$headings-font-weight: 700;


