footer {
  background-color: $dark-background;
  white-space: nowrap;
  text-align: center; 

  @media (min-width: $screen-sm-min) {
    .email {
      text-align: left;
    }
    .telephone {
      text-align: center;
    }
    .copyright {
      text-align: right;
    }
  }
}
