header {
  background-color: #1c1c1c;
  color: $text-color-light;

  .header-logo {
    text-transform: uppercase;
    font-size: $font-size-h1;
  }

  .header-contact-number {
    text-align: right;
    font-size: $font-size-h3;
    line-height: floor($font-size-h1 * 1.4);
  }
}

