header {
  background-color: $dark-background;
  color: $text-color-light;
  border-bottom: 1px solid $gray-lighter;

  a {
    &:hover, &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  .header-logo {
    text-transform: uppercase;
    font-size: $font-size-h1;
  }

  .header-contact-number {
    text-align: right;
    font-size: $font-size-h3;
    line-height: floor($font-size-h1 * 1.4);
  }
}

