header {
  background-color: $dark-background;
  color: $text-color-light;
  border-bottom: 1px solid $gray-lighter;

  a {
    &:hover, &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }

  .header-logo {
    text-transform: uppercase;
    font-size: $font-size-h1;
    width: 275px;
    height: 61px;
  }

  .header-contact-number {
    text-align: right;
    font-size: $font-size-h1;
    height: 61px;
    line-height: 61px;

    .phone-image {
      height: 45px;
      margin-right: 10px;
    }
  }
}

