main {
  background-color: $dark-background;
  padding-top: 20px;
  padding-bottom: 20px;
}

.services-list {
  background-color: $dirty-white;

  li {
    display: block;
    padding: 20px;
    position: relative;
  }
  a {
    border: 1px solid black;
    display: block;
    box-sizing: none;
    width: 100%;
    height: 100%;
    text-align: center;

    img {
      width: 100%;
      
    }

    div {
      background-color: $dark-background;
    }

 }


}
