#modena-main-nav {
  // overwrite .navbar styles
  border: none;
  @media (min-width: $screen-sm-min) {
    border-bottom: 1px solid $link-border-color;
  }


  .navbar-header {
    text-align: center;

    .navbar-toggle {
      float: none;
      margin-right: 0;
      border: 0px solid transparent;
      line-height: 100%;

      .icon-bar {
        float: left;
        clear: left;
      }
    }

  }

  .navbar-collapse {
    padding-right: 0;
    padding-left:  0;
    //border-bottom: 1px solid white;
    overflow: hidden; 
    // margin-bottom: -1px;

    .nav-tabs {
      float: none;
      margin: 0 auto;
      padding: 0;
      display: table;
      table-layout: fixed;
      overflow: hidden;
      border-bottom: none;

      @media (min-width: $screen-sm-min) {
        overflow: auto;
      }


      > li {
        width: 100%;
        text-align: center;

        &:first-child > a {
          box-shadow: none;
          border-top: 1px solid transparent;
        }
        
        @media (min-width: $screen-sm-min) {
          width: 20%;
          &:first-child > a {
            border-left: 1px solid $link-border-color !important;
          }

        }

        > a {
          margin-right: 0px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-top: 1px solid $navbar-default-border;
          box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
          border-radius: 0;
        
          &:hover {
            border: 1px solid transparent;
            box-shadow: none;
            background-color: lighten($brand-primary, 10%);
          } 

          @media (min-width: $screen-sm-min) {
            border-right: 1px solid $link-border-color;
            border-bottom: 1px solid $link-border-color;
            padding-top: 15px;
            padding-bottom: 15px;

            &:hover {
              border-color: $link-border-color; 
              border-top: 1px solid transparent;
              border-left: 1px solid transparent;
              border-bottom: 1px solid $link-border-color;
              // background-color: $navbar-default-link-hover-bg;

            }
           
          }
        }
        &.active > a {
          &,
          &:hover,
          &:focus { 
            border: 1px solid $dark-background;
            // border-top: 1px solid #444;
            box-shadow: none;
            font-weight: 500;
            background-color: $navbar-default-link-hover-bg;

            @media (min-width: $screen-sm-min) {
              border: 1px solid $link-border-color;
              border-top: none;
              border-left: none;
              border-bottom: 2px solid lighten($dark-background, 2%);
              @include gradient-vertical(lighten($dark-background, 4%), lighten($dark-background, 2%), 50%, 100%);
            }

          }
          
        }

      }
    }
  }
}

.menu-text {
  float: right;
  margin: 0 5px;
}

