#modena-main-nav {
  // overwrite .navbar styles
  border-top: none;
  border-bottom-color: $link-border-color;

  .navbar-header {
    text-align: center;

    .navbar-toggle {
      float: none;
      margin-right: 0;
      border: 0px solid transparent;
      line-height: 100%;

      .icon-bar {
        float: left;
        clear: left;
      }
    }

  }

  .navbar-collapse {
    padding-right: 0;
    padding-left:  0;
    //border-bottom: 1px solid white;
    overflow: hidden; 
    margin-bottom: -1px;

    .nav-tabs {
      float: none;
      margin: 0 auto;
      padding: 0;
      display: table;
      table-layout: fixed;
      overflow: hidden;
      border-bottom: none;

      > li {
        width: 100%;
        text-align: center;

        &:first-child > a {
          box-shadow: none;
          border-top: 1px solid transparent;
        }
        
        @media (min-width: $screen-sm-min) {
          width: 20%;
          margin-bottom: -2px;
          &:first-child > a {
            border-left: 1px solid $link-border-color !important;
          }

        }

        > a {
          margin-right: 0px;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-top: 1px solid $navbar-default-border;
          box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
          border-radius: 0;
        
          &:hover {
            border: 1px solid transparent;
            box-shadow: none;
          } 

          @media (min-width: $screen-sm-min) {
            border-right: 1px solid $link-border-color;
            border-bottom: 1px solid $link-border-color;

            &:hover {
              border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
              border-top: 1px solid #444;
              border-left: 1px solid transparent;
            }
           
          }
        }
        &.active > a {
          &,
          &:hover,
          &:focus { 
            border: 1px solid $dark-background;
            // border-top: 1px solid #444;
            box-shadow: none;

            @media (min-width: $screen-sm-min) {
              border: 1px solid $nav-tabs-active-link-hover-border-color;
              border-top: none;
              border-left: none;
              border-bottom: 2px solid $dark-background;
            }

          }
          
        }

      }
    }
  }
}

.menu-text {
  float: right;
  margin: 0 5px;
}

