body.service {
  main {
    padding: 0;
    background-color: $body-bg;
    padding-bottom: 40px;
    @media (min-width: $screen-sm-min) {
      @include gradient-vertical(lighten($dirty-white, 2%), darken($dirty-white, 2%), 30%, 100%);
    }


  }
  .main-header {
    background-color: $brand-lighter;
    color: $gray-dark;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    h1, h2, h3, h4 {
      color: $text-color;
      font-weight: bold; 
    }
  }
  .service-banner {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  article {
    color: $text-color-dark;
    padding-top: 20px;

    h3 {
      color: $text-color-dark;
      font-size: ceil(($font-size-base * 1.1));
    }
  }
}
