body.service {
  main {
    padding: 0;
    background-color: $body-bg;
    padding-bottom: 40px;
    @media (min-width: $screen-sm-min) {
      @include gradient-vertical(lighten($dirty-white, 2%), darken($dirty-white, 2%), 30%, 100%);
    }


  }
  .main-header {
    background-color: $brand-lighter;
    color: $gray-dark;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    h1, h2, h3, h4 {
      color: $text-color;
      font-weight: bold; 
    }
  }
  .service-banner-container {
    position: relative
  }
  .service-banner-container:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      @include box-shadow(0px 4px 8px -4px #666666 inset, 0px -4px 8px -6px #666666 inset);
      top: 0;
      left: 0;
      z-index: 1; /* You can use higher to ensure that it stays on top */
  }
  .service-banner {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  article {
    color: $text-color-dark;
    padding-top: 20px;

    h3 {
      color: $text-color-dark;
      font-size: ceil(($font-size-base * 1.1));
    }
  }
}
